:root {
  --main-green: rgb(67,176,42);
  --main-gray: rgb(99,102,106);
  --main-blue: rgb(0,130,186);
  --invested-color: rgb(198,54,99);
  --header-blue: #0082BA;
  --table-invested-bg: #E0E0E0;
  --table-emp-bg: #C3E7C9;
  --table-total-bg: #B3D7F2;
  --table-sp500-bg: #FAD0EC;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

/* Card & Table Styling */
.card {
  margin-bottom: 1rem;
}
.table th,
.table td {
  vertical-align: middle;
}

/* Input Styling */
input[type="range"] {
  width: 100%;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  text-align: right;
  font-weight: bold;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
